.cool-story-bro-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  min-height: 100vh;
}

.cool-story-phrase-component-container {
  background-color: grey;
  text-align: center;
  line-height: 300px;
  margin: 20px;
  width: 400px;
  height: 300px;
  overflow: hidden;

  p {
    animation: words 1.5s ease-in;
  }
}

@keyframes words {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}